.services {
    margin-bottom: 180px !important;
    position: relative;
    .bgtitle {
        color: rgba(35, 35, 35, 0.08);
        font-family: Lato;
        font-size: 200px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 3px;
        position: absolute;
        margin-top: -100px;
        right: 0;
        user-select: none;
        text-transform: uppercase;
        z-index: -1;

        @media screen and (max-width: 800px) {
            display: none;
        }
    }
    .content {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        @media screen and (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 800px) {
            grid-template-columns: auto;
        }
    }
}
