.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: 0.5s;
    z-index: 999;
    .logoSection {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .logo {
            height: 30px;
        }
    }
    .menuSection {
        display: flex;
        justify-content: center;
        align-items: center;
        .menu {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            li a {
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
    .actions {
        display: flex;
        justify-content: flex-end;
        .actionBtn {
            display: block;
            text-align: center;
            line-height: 45px;
            width: 150px;
            height: 45px;
            border-radius: 50px;
            background: #fff;
            color: #1a1a1a;
            font-size: 15px;
            font-weight: 800;
            transition: 0.5s;
            border: none;
            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
        &::after {
            content: " ";
            width: 100px;
            height: 30px;
            display: block;
            flex-shrink: 0;
            position: absolute;
            border-radius: 100px;
            background: rgba(180, 180, 180, 0.171);
            filter: blur(20px);
        }
    }
    &.navbarHide {
        // margin-top: -100px;
        transform: translateY(-100px);
    }

    &.navbarShow {
        background-color: #00000033;
        backdrop-filter: blur(10px);
    }
}

@media screen and (max-width: 900px) {
    .navbar {
        // background-color: red;
        padding: 20px 20px;
        .logoSection {
            .logo {
                width: 120px;
                height: auto;
            }
        }
        .menuBtn {
            display: block !important;
            margin-right: 30px;
        }
        .menuSection {
            display: flex;
            position: fixed;
            top: 0;
            right: 0;
            width: 100vw;
            height: 100vh;
            background-color: #111111f1;
            backdrop-filter: blur(10px);
            background-position: center;

            z-index: 999;
            transform: translateX(-100vw);
            transition: 0.5s;

            .menuCloseBtn {
                display: block !important;
                position: absolute;
                top: 0;
                right: 0;
                margin: 30px;
                transition: 0.5s;
                cursor: pointer;
                // rotate: -360deg;
                &:hover {
                    rotate: 360deg;
                }
            }

            .menu {
                z-index: 999999;
                display: flex;
                flex-direction: column;
                gap: 80px;
                li a {
                    font-size: 30px;
                    opacity: 0;
                    transition: 0.5s;
                    &::after {
                        content: "";
                        display: block;
                        width: 0%;
                        height: 3px;
                        margin-top: 5px;
                        background-color: #fff;
                        transition: 0.5s;
                    }
                    &:hover {
                        opacity: 1;
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
            &.showMenuSection {
                transform: translateX(0vw);
                .menu {
                    li a {
                        transition: 0.5s;
                        opacity: 0.6;
                    }
                }
            }
        }
        .actions {
            .menuSupportBtn {
                display: block !important;
            }
            &::after {
                display: none;
            }
            .actionBtn {
                display: none !important;
            }
        }
    }
}
